* {
    margin: 0px;
    padding: 0px;
}

.bod {
    width: 90%;
    margin: auto;
    font-family: sans-serif;
}

.vineta {
    width: 40px;
    float: right;
    padding-right: 15%;
}

.bvin {
    float: right;
    margin-right: 20%;
    background-color: white;
    border-color: white;
}

hr {
    color: brown;
}

.inicio {
    padding-bottom: 3%;
}

.tiempo p {
    text-align: right;
    padding-right: 15%;
    color: rgb(8, 4, 4);
    position: relative;
}

.inicio h3 {
    color: grey;
}

.inicio .btn1,
.btn4 {
    background-color: brown;
    color: white;
    border: none;
}

.btn2 {
    background-color: darkorange;
    color: white;
    border: none;
}

.btn3 {
    background-color: darkorchid;
    color: white;
    border: none;
}

.span1,
.span4 {
    color: brown;
}

.span2 {
    color: darkorange;
}

.span3 {
    color: darkorchid;
}

h4 {
    padding-top: 4%;
}

p {
    padding-top: 4%;
    padding-right: 15%;
    text-align: justify;
    color: rgb(200, 207, 200);
}

section {
    width: 25%;
    height: 20px;
    margin: auto;
    padding-top: 2%;
    float: left;
    box-sizing: border-box;
    border-left: 1px;
}

section .imagen {
    width: 80%;
}

img {
    width: 100%;
}